{% extends "retaildata/base.html" %}
{% load static %}
{% block content %}
    <!--header class="masthead" style="background-image: url({% static 'retaildata/img/orchid1v2h.jpg' %});background-position: top center; min-height: 860px; padding-top: 0px;"-->
        <div class="container">
            {% include "retaildata/messages.html" %}
            <div class="intro-text" style="text-align: right; padding-bottom: 0px;">
                <div style="width: 500px; float: right;font-family: 'Open Sans Condensed', sans-serif; margin: 0px; padding: 0px; padding-top: 50px;">
                    <h1 style="font-family: 'Open Sans Condensed', sans-serif; border-bottom: 8px solid white; font-size: 30pt;text-transform: uppercase;">Lorem ipsum</h1>
                </div>
                <div><br style="clear: both; margin: 0px; padding: 0px;">    
                    <img src="{% static 'retaildata/img/tabletoptext.png' %}" style="width:500px; padding-left: 100px; padding-top: 30px;" frameborder="0">
                </div>

                <div style="width: 500px; float: right;font-family: 'Open Sans Condensed', sans-serif; margin: 0px; padding: 0px; padding-top: 50px; font-size: 18pt; font-weight: bold;">
                    <h1 style="font-family: 'Open Sans Condensed', sans-serif; border-bottom: 8px solid white; font-size: 30pt;text-transform: uppercase;">Our Solution</h1>
            { % lorem 200 % } 
                </div>
            </div>
        </div>
    <!--/header-->
<br><br>


{% endblock %}
